*.mt filter=lfs diff=lfs merge=lfs -text
*.pe filter=lfs diff=lfs merge=lfs -text
*.src filter=lfs diff=lfs merge=lfs -text
*/*.src filter=lfs diff=lfs merge=lfs -text
*/*.pe filter=lfs diff=lfs merge=lfs -text
*/*.mt filter=lfs diff=lfs merge=lfs -text
*.csv filter=lfs diff=lfs merge=lfs -text
